$color-primary: #0000ff;
$color-primary-shadow: rgba(0, 128, 0, .26);
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #818181;
$color-light-grey: #F7F7F7;
$color-logo-string: $color-primary;
$color-grey-medium: #e1e2e3
