.jeden{
  height: 150px;
  background-color: greenyellow;
}
.dwa{
  height: 150px;
  background-color: blue;
}
.trzy{
  height: 150px;
  background-color: orangered;
}
.cztery{
  height: 150px;
  background-color: black;
}
.piec{
  height: 150px;
  background-color: springgreen;
}
.szesc{
  height: 150px;
  background-color: yellow;
}