.one{
  height: 200px;
  background-color: #818181;
}
.two{
  height: 200px;
  background-color: #818181;
}
.three{
  height: 200px;
  background-color: #818181;
}
.four{
  height: 200px;
  background-color: #818181;
}